.App {
  text-align: center;
}

.links{
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  color:coral;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cat-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  padding: 20px;
}

.cat-image {
  width: 100%; 
  height: auto;
  max-width: 150px; 
}
